{% extends "base.html" %}
{% block content %}
<h2>Change Password</h2>
<form method="post">
  <input name="old_password" type="password" placeholder="Old password" required>
  <input name="new_password" type="password" placeholder="New password" required>
  <input name="confirm_password" type="password" placeholder="Confirm new password" required>
  <button type="submit">Update</button>
</form>

<div style="margin-top:10px;">
  <a class="btn btn-secondary" href="{{ url_for('admin_dashboard') if current_user.role=='admin' else url_for('student_dashboard') }}">Back</a>
</div>
{% endblock %}
